/*===============================
Initial Style by:
    Name: Xavier - Dark Night
    Author : Angry Frog
================================= */

/*===============================
    SIDEBAR COLOUR
================================= */
body {
    background-color: #3B3F40;
}
body nav.navbar-static-side {
    background-color: #3B3F40;
}
body.mini-navbar .nav li:hover > .nav-second-level {
    border-left-color: #3B3F40;
}
body.mini-navbar .nav li:hover .nav-label {
    border-left-color: #3B3F40;
}
#sidebar-collapse .nav > li > ul.nav-second-level > li.active > a {
    box-shadow: inset 2px 0px 0px 0px #606667;
}

/*===============================
    HEADER COLOUR
================================= */
nav.navbar {
    background-color: #3B3F40;
}

/*===============================
    COLOUR THEME
================================= */
#sidebar-collapse .nav > li.selected > a {
    background-color: #606667;
}
.btn-main {
    background-color: #606667;
    border-color: #606667;
}
.right-sidebar-header {
    background-color: #606667;
}
#to-top:hover {
    background-color: #606667;
}
#sidebar-collapse .nav > li > ul.nav-second-level > li.active > a {
    box-shadow: inset 4px 0px 0px 0px #606667;
}
nav .dropdown-menu {
    border: #606667;
    border-width: 2px;
    border-style: solid;
    border-top-width: 10px;
}
nav .dropdown-menu:before {
    border-bottom: 9px solid #606667;
}
nav .dropdown-menu:after {
    border-bottom: 8px solid #606667;
}

