/*===============================
Initial Style by:
    Name: Xavier - Purple Haze
    Author : Angry Frog
================================= */

/*===============================
    SIDEBAR COLOUR
================================= */
body {
    background-color: #412A3E;
}
nav.navbar-static-side {
    background-color: #412A3E;
}
body.mini-navbar #logo-element {
    background-color: #412A3E;
}
body.mini-navbar .nav li:hover > .nav-second-level {
    border-left-color: #412A3E;
}
body.mini-navbar .nav li:hover .nav-label {
    border-left-color: #412A3E;
}
#sidebar-collapse .nav > li > ul.nav-second-level > li.active > a {
    box-shadow: inset 2px 0px 0px 0px #a975a2;
}

/*===============================
    HEADER COLOUR
================================= */
nav.navbar {
    background-color: rgba(242, 242, 243, 1);
}

/*===============================
    COLOUR THEME
================================= */
#sidebar-collapse .nav > li.selected > a {
    background-color: #a975a2;
}
.btn-main {
    background-color: #a975a2;
    border-color: #a975a2;
}
.right-sidebar-header {
    background-color: #a975a2;
}
#to-top:hover {
    background-color: #a975a2;
}
#sidebar-collapse .nav > li > ul.nav-second-level > li.active > a {
    box-shadow: inset 4px 0px 0px 0px #a975a2;
}
nav .dropdown-menu {
    border: #a975a2;
    border-width: 2px;
    border-style: solid;
    border-top-width: 10px;
}
nav .dropdown-menu:before {
    border-bottom: 9px solid #a975a2;
}
nav .dropdown-menu:after {
    border-bottom: 8px solid #a975a2;
}

